/* Responsive Styles */

/* Tablet Styles */
@media screen and (max-width: 968px) {
  .product-grid,
  .category-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-columns {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile Styles */
@media screen and (max-width: 576px) {
  /* Allows Navigation to follow user during scrolling */
  header {
    position: sticky;
    top: 0;
    z-index: 10;
  }
  /* Displays a navigation icon to expand navigation */
  .hamburger-icon[aria-expanded="false"] {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: transparent;
    border: none;
    margin-left: auto;
    margin-right: 2rem;
    cursor: pointer;
  }
  /* Hide navigation links when viewport is mobile */
  .hamburger-icon[aria-expanded="false"] ~ .main-nav {
    display: none;
  }
  /* Hides navigation icon */
  .hamburger-icon[aria-expanded="true"] {
    display: none;
  }
  /* Displays navigation links when icon is clicked */
  .hamburger-icon[aria-expanded="true"] ~ .main-nav {
    display: block;
    position: relative;
    transition: all 700ms ease-in-out;
  }
  /* Displays when mobile navigation link list is displayed, gives option to hide nav list again */
  .close-btn.open {
    width: 24px;
    height: 24px;
    background: transparent;
    border: none;
    position: absolute;
    top: 0;
    right: -4rem;
    cursor: pointer;
    transform: rotate(90deg);
    transition: all 700ms ease-in-out;
  }
  #nav-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  #nav-item {
    display: inline-block;
    margin: 0;
    text-align: center;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .product-grid,
  .category-grid {
    grid-template-columns: 1fr;
  }

  .footer-columns {
    grid-template-columns: 1fr;
  }

  .newsletter form {
    display: flex;
  }

  .newsletter input {
    margin-bottom: 10px;
  }

  .newsletter button {
  }
}
