/* Responsive Styles */

/* Tablet Styles */
@media screen and (max-width: 968px) {
  .product-grid,
  .category-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-columns {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile Styles */
@media screen and (max-width: 576px) {
  /* Allows Navigation to follow user during scrolling */
  header {
    position: sticky;
    top: 0;
    z-index: 10;
    transition: all 700ms ease-in-out;
  }

  /* Displays a navigation icon to expand navigation */
  .hamburger-icon[aria-expanded="false"] {
    display: inline-block;
    width: 22px;
    height: 22px;
    background: transparent;
    border: none;
    margin-left: 2rem;
    margin-right: auto;
    cursor: pointer;
    transition: all 400ms ease-in-out;
  }
  .hamburger-icon[aria-expanded="true"] {
    display: inline-block;
    justify-self: end;
    width: 22px;
    height: 22px;
    background: transparent;
    border: none;
    margin-left: 2rem;
    margin-right: auto;
    cursor: pointer;
    transition: all 400ms ease-in-out;
  }
  .hamburger-icon.show[aria-expanded="true"] {
    transform: rotate(90deg);
  }

  /* Hide navigation links when viewport is mobile */
  .hamburger-icon[aria-expanded="false"] ~ .main-nav {
    display: block;
    opacity: 0;
    margin-right: auto;
    transition: all 400ms ease-in-out;
  }

  /* Displays navigation links when icon is clicked */
  .hamburger-icon[aria-expanded="true"] ~ .main-nav.show {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin-right: auto;
    opacity: 1;
    transition: all 400ms ease-in-out;
  }

  /* Fits navigation list in header as a column */
  #nav-items {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  /* Centers navigation links in header */
  #nav-item {
    display: inline-block;
    margin: 0;
    text-align: center;
    font-size: .75rem;
    font-weight: bold;
  }
  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .product-grid,
  .category-grid {
    grid-template-columns: 1fr;
  }

  .footer-columns {
    grid-template-columns: 1fr;
  }

  .newsletter form {
    display: flex;
    flex-wrap: wrap;
  }

  .newsletter input {
    margin-bottom: 10px;
  }
  .newsletter button {
    height: 42px;
    margin: 0 auto;
  }

  /* .newsletter button {
  } */
  .footer-columns {
    margin: 0 auto 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    justify-content: center;
    align-items: center;
  }

  .footer-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
  }

  .footer-column h3 {
    font-size: 1rem;
    text-align: center;
  }

  .footer-column ul li {
    text-align: center;
  }

}
